<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated leagueOfLegends -->
      <package
            uri="https://tdt4250/project/leagueOfLegends"
            class="leagueOfLegends.LeagueOfLegendsPackage"
            genModel="model/leagueOfLegends.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated leagueOfLegends -->
      <parser
            type="leagueoflegends"
            class="leagueOfLegends.util.LeagueOfLegendsResourceFactoryImpl"/>
   </extension>

</plugin>
